body {
    font-family: sans-serif;
    line-height: 1.6;
}

.wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f7f7;
}

article {
    padding: 15px;
}

header {
    background-color: #3D9B6E;
    background-image: url('../images/banner_ohjelmistokehittajana_toimiminen.png');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    height: 80px;
    padding: 20px 0px 20px 20px;
}

#divHeadLink {
    float: right;
    padding-right: 20px;
    margin-top: -30px;
}

#divHeadLink a {
    color: #ffffff
}

#divHeadLink a:hover {
    color: #363636
}

footer {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    border-radius: 0px 0px 5px 5px;
    height: 50px;
    background-color: #363636;
    color: #f1faee;
}

pre {
    overflow: auto;
    color: #f1faee;
    background-color: #3D9B6E;
    padding: 10px;
    border-radius: 5px;
}

header:h1 {
    color: #4cc9f0;
}

h2 {
    color: #363636;

}

img {
    max-width: 100%;
    border-radius: 5px;
}

h3 {
    color: #3D9B6E;
}

h4 {
    color: #363636;
}

a {
    text-decoration: none;
    color: #e63946;
}

a:hover {
    color: #3D9B6E;
}

th {
    background-color: #a8dadc;
    color: #3D9B6E;
    padding: 5px;
}

td {
    padding: 5px;
    color: #3D9B6E;
    border-style: solid;
    border-width: 1px;
    border-color: #4cc9f0;
}

input {
    padding: 3px 5px 3px 5px;
    margin: 3px;
    border-radius: 3px;
    border-width: 1px;
}

form {
    padding: 5px;
    border-radius: 5px;
    background-color: #c6cccc;
}

input[type=submit],
[type=button],
button {
    padding: 5px 15px 5px 15px;
}

input[type=submit]:hover,
[type=button]:hover,
button:hover {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}


@media only screen and (max-width: 825px) {

    .wrapper {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        height: auto;
    }

    .current-section {
        width: 100%;
    }

    #divHeadLink {
        padding: 10px;
    }
}